code.big {
  font-size: 50px;
}

code.tiny {
  font-size: 32px;
}

code.tiny pre {
  margin: 0;
  padding: 10px;
}

.footnote {
  text-align: right;
  height: 100%;
  font-size: 14px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.float-bottom-right {
    z-index: 9999999999999;
    position: absolute;
    top: 300px;
    right: 3px;
}

.flexbox {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-0 {
  flex: 0;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.height-half {
  height: 50pt;
}

.gradual-box > .gradual-label {
  font-size: 20px;
  margin-bottom: 0;
  margin-left: 30px;
  margin-right: 30px;
}

.gradual-box > pre {
  margin-top: 0;
}

.gradual-box pre > code {
  padding: 10px 20px;
}

.border {
  border: 2px solid;
}

.reveal blockquote {
  font-style: normal;
}

.margin-top-10 {
  margin-top: 20px;
}

.medium {
  font-size: 30px;
}

.medium-small {
  font-size: 25px;
}

.small {
  font-size: 20px;
}

.strike {
  text-decoration: line-through;
}
