<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Gradual algebraic effects</title>

		<link rel="stylesheet" href="reveal.js/dist/reset.css">
		<link rel="stylesheet" href="reveal.js/dist/reveal.css">
		<link rel="stylesheet" href="reveal.js/dist/theme/serif.css">

		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="reveal.js/plugin/highlight/default.css">
		<link rel="stylesheet" href="Agda.css">
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
    <div hidden>
      \(
        \def\N{\mathbb{N}}
        \def\B{\mathbb{B}}
        \def\nat{\texttt{nat}}
        \def\bool{\texttt{bool}}
        \definecolor{deemph}{RGB}{75,75,75}
        \definecolor{bbb}{RGB}{0,100,255}
        \def\typecolor#1{{\color{Blue}#1}}
        \def\termcolor#1{{\color{deemph}#1}}
        \def\castcolor#1{{\color{Orange}#1}}
        \def\importanttypecolor#1{{\color{bbb}#1}}
        \def\precision#1#2{{\color{Blue}#1 \color{Green} \le \color{Blue} #2}}

        \def\lam#1#2{\lambda#1. #2}
        \def\app#1#2{#1\,#2}
        \def\castof#1{\texttt{cast}^{#1}}
        \def\hastype#1#2#3{\typecolor{#1} \vdash \termcolor{#2} : \typecolor{#3}}
      \)
    </div>
		<div class="reveal">
			<div class="slides">
				<section>
          <h2>Gradual algebraic effects</h2>
          <h3>formalized in Agda</h3>
          <div style="text-align:right;">
            <div><b>Li-yao Xia</b></div>
            <div>Philip Wadler</div>
          </div>
        </section>
{#{ NEW SECTION }#}
        <section>
				  <section>Algebraic effects</section>
          <section>handler = fold</section>
        </section>
{#{ NEW SECTION }#}
        <section>
				  <section data-background-gradient="conic-gradient(at 50% 35%, #F0F1EB, #61584D)">
            <div class="flexbox">
              <div style="color: white;">Dynamic</div>
              <div class="flex-1"></div>
              <div>Static</div>
            </div>
            <div style="height: 150px;"></div>
            <h3 class="height-half">Gradual types</h3>
            <div style="height: 150px;"></div>
          </section>
          <section>
            <div class="flexbox">
              <div class="flex-1">
<div>Library</div>
<div class="gradual-box"><div class="gradual-label right">Dynamic</div>
<pre><code data-trim data-noescape class="language-ocaml">
write_to_db(row : Any) : Any
 
</code></pre>
</div>
<div class="fragment gradual-box" data-fragment-index="1"><div class="gradual-label right">Static</div>
<pre class="border"><code data-trim data-noescape class="language-ocaml">
write_to_db(row : N × N) : ()
 
</code></pre>
</div>
<div class="fragment gradual-box" data-fragment-index="2"><div class="gradual-label right">Dynamic</div>
<pre><code data-trim data-noescape class="language-ocaml">
write_to_db(row : Any) : Any
 
</code></pre>
</div>
<div class="fragment gradual-box" data-fragment-index="0"><div class="gradual-label right">Static</div>
<pre class="border"><code data-trim data-noescape class="language-ocaml">
write_to_db(row : N × N) : ()
 
</code></pre>
</div>
              </div>
              <div class="flex-1">
<div>Application</div>
<div class="gradual-box"><div class="gradual-label left">Dynamic</div>
<pre><code data-trim data-noescape class="language-ocaml">
get_data() : Any
write_to_db(get_data()) : Any
</code></pre>
</div>
<div class="fragment gradual-box" data-fragment-index="1"><div class="gradual-label left">Dynamic</div>
<pre><code data-trim data-noescape class="language-ocaml">
get_data() : Any
write_to_db(get_data()) : Any
</code></pre>
</div>
<div class="fragment gradual-box" data-fragment-index="2"><div class="gradual-label left">Static</div>
<pre class="border"><code data-trim data-noescape class="language-ocaml">
get_data() : N × N
write_to_db(get_data()) : ()
</code></pre>
</div>
<div class="fragment gradual-box" data-fragment-index="0"><div class="gradual-label left">Static</div>
<pre class="border"><code data-trim data-noescape class="language-ocaml">
get_data() : N × N
write_to_db(get_data()) : ()
</code></pre>
</div>
              </div>
            </div>
            <div>Well-typed throughout gradual migration</div>
          </section>
          <section>
            <blockquote class="medium-small">
            But languages with dynamic typing also have a flexibility which is hard to emulate with a static type system.
            <br>— <a href="https://kar.kent.ac.uk/88959/1/history.pdf_nocoversheet">Turner (2012)</a>
            </blockquote>
            <div>When static types go ¯\_(ツ)_/¯</div>
            <div class="fragment">
            <pre><code data-trim data-noescape>
tauto : nat -> ★ -> bool
tauto 0 b = b
tauto n f = tauto (n-1) (f false) && tauto (n-1) (f true)
            </code></pre>
            </div>

            <div class="fragment">
            <pre><code data-trim data-noescape>
tauto n f = true   iff   ∀ x1 ... xn, f x1 ... xn = true 
            </code></pre>
            </div>
            <div class="fragment">
            <pre><code data-trim data-noescape>
tauto 1 :                 (bool -> bool) -> bool
tauto 2 :         (bool -> bool -> bool) -> bool
tauto 3 : (bool -> bool -> bool -> bool) -> bool
            </code></pre>
            </div>
          </section>
          <section>
            <div>Anatomy of a gradually typed language</div>
            <ul style="list-style: none;">
              <li class="fragment"><b>Dynamic type</b> "\(\star\)" (aka. <code>Any</code>)</li>
              <li class="fragment margin-top-10"><b>Surface language:</b> \(f : \nat \to \bool, x : \star \vdash \app{f}{x} : \bool\)</li>
              <li class="fragment">⮩ Some flexibility, but not too loose either</li>
              <li class="fragment margin-top-10">Core language = <b>cast calculus:</b> \(f : \nat \to \bool, x : \star \vdash \app{f}{(\castof{-p}\,x)} : \bool\)</li>
              <li class="fragment">⮩ Operational semantics</li>
              <li class="fragment">⮩ <b>Gradual guarantee:</b> how code should behave when type annotations
                are added incrementally.</li>
            </ul>
          </section>
{#{
          <section>
            <div class="footnote">Siek and Taha (2006)</div>
            <div style="text-align:left;">Gradual type system</div>
            \[\begin{prooftree}
                \AxiomC{\(\hastype{\Gamma}{N}{A' \to B}\)}
                \AxiomC{\(\hastype{\Gamma}{M}{A}\)}
                \AxiomC{\(\importanttypecolor{A' \sim A}\)}
              \TrinaryInfC{\(\hastype{\Gamma}{\app{N}{M}}{B}\)}
            \end{prooftree}\]

            \[\begin{prooftree}
                \AxiomC{\(\hastype{\Gamma}{N}{\importanttypecolor{\star}}\)}
                \AxiomC{\(\hastype{\Gamma}{M}{A}\)}
              \BinaryInfC{\(\hastype{\Gamma}{\app{N}{M}}{\importanttypecolor{\star}}\)}
            \end{prooftree}\]

            <div style="text-align:left;">Type consistency \(A \sim B\)</div>
            \[
            \begin{prooftree}
                \AxiomC{}
              \UnaryInfC{\(\typecolor{A \sim \star}\)}
            \end{prooftree}
            \quad
            \begin{prooftree}
                \AxiomC{}
              \UnaryInfC{\(\typecolor{\star \sim A}\)}
            \end{prooftree}
            \quad
            \begin{prooftree}
                \AxiomC{\(\typecolor{A \sim A'}\)}
                \AxiomC{\(\typecolor{B \sim B'}\)}
              \BinaryInfC{\(\typecolor{A \to B \sim A' \to B'}\)}
            \end{prooftree}
            \]
          </section>
          <section>
            <div style="text-align:left;">Why not this?</div>
            \[\begin{prooftree}
                \AxiomC{\(\hastype{\Gamma}{M}{A}\)}
                \AxiomC{\(\typecolor{A \sim B}\)}
              \BinaryInfC{\(\hastype{\Gamma}{M}{B}\)}
            \end{prooftree}\]

            <div style="text-align:left;">Cast between all types:</div>
            \[\begin{prooftree}
                  \AxiomC{\(\hastype{\Gamma}{M}{A}\)}
                  \AxiomC{\(\typecolor{A \sim \star}\)}
                \BinaryInfC{\(\hastype{\Gamma}{M}{\star}\)}
                \AxiomC{\(\typecolor{\star \sim B}\)}
              \BinaryInfC{\(\hastype{\Gamma}{M}{B}\)}
            \end{prooftree}\]
            <div style="text-align:left; font-size:35px;">NB: \(\sim\) not transitive! \(\implies\) subsumption rule = bad idea</div>
          </section>
}#}
          <section>
            <div class="left">Gradual type system</div>
            \[\begin{prooftree}
                \AxiomC{\(\precision{A}{B}\)}
                \AxiomC{\(\hastype{\Gamma}{M}{B}\)}
              \BinaryInfC{\(\hastype{\Gamma}{M}{A}\)}
            \end{prooftree}\]
            <div class="left">Precision \(\precision{A}{B}\)</div>
            \[\begin{prooftree}
              \AxiomC{\(\precision{A}{\star}\)}
            \end{prooftree}
            \quad
            \begin{prooftree}
              \AxiomC{\(\precision{A}{A}\)}
            \end{prooftree}
            \quad
            \begin{prooftree}
                \AxiomC{\(\precision{A}{A'}\)}
                \AxiomC{\(\precision{B}{B'}\)}
              \BinaryInfC{\(\precision{A \to B}{A' \to B'}\)}
            \end{prooftree}
            \]
            Covariant in the domain!
            <br> Precision aka. "Naive Subtyping"
          </section>
          <section>
            <div>Precision relation <code>A ≤ B</code></div>
          <code class="big">
            {% block precision %}{% endblock %}
          </code>
          </section>
          <section>
            <div>Well-typed terms <code>Γ ⊢ M ⦂ A</code></div>
          <code class="big">
            {% block precisionsubsumption %}{% endblock %}
          </code>
          </section>
          <section>
            <div>Example derivation</div>
            <div class="left">
              \(\termcolor{f} : \typecolor{\star \to \star}\)
              <br>\(\termcolor{x} : \typecolor{\nat}\)
              <br>\(\termcolor{\app{f}{x}} : \typecolor{\nat}\)
            </div>
            \[\begin{prooftree}
                    \AxiomC{\(\precision{\nat \to \nat}{\star \to \star}\)}
                    \AxiomC{\(\hastype{\Gamma}{f}{\star \to \star}\)}
                  \BinaryInfC{\(\hastype{\Gamma}{f}{\nat \to \nat}\)}
                  \AxiomC{\(\hastype{\Gamma}{x}{\nat}\)}
                \BinaryInfC{\(\hastype{\Gamma}{\app{f}{x}}{\nat}\)}
              \end{prooftree}
            \]
            <code>
              {% block exampletyping %}{% endblock %}
            </code>
          </section>
          <section>
            <div>Gradual typing as a superset of static typing</div>
            <div>
              <p class="medium">
              If \(M\) is static (all binders annotated with non-\(\star\) types), then
              </p>
              \[\vdash_{\mathrm{Gradual}} M : A \iff \vdash_{\mathrm{STLC}} M : A\]
            </div>
          </section>
          <section>
            <div>Towards operational semantics</div>
            <div>Via compilation to a cast calculus</div>
            <div class="left">Surface language:
              \[\begin{prooftree}
                  \AxiomC{\(\precision{A}{B}\)}
                  \AxiomC{\(\hastype{\Gamma}{M}{B}\)}
                \BinaryInfC{\(\hastype{\Gamma}{M}{A}\)}
              \end{prooftree}\]
            </div>
            <div class="fragment left">Cast calculus:
              \[\begin{prooftree}
                  \AxiomC{\(\castcolor{p :}\precision{A}{B}\)}
                  \AxiomC{\(\hastype{\Gamma}{M}{B}\)}
                \BinaryInfC{\(\hastype{\Gamma}{\castcolor{\castof{p}\,}M}{A}\)}
              \end{prooftree}\]
            </div>
          </section>
          <section>
            <div class="left">Surface:</div>
            <code>
              {% block precisionsubsumption2 %}{% endblock %}
            </code>
            <div>The derivation already has the right structure.</div>
          </section>
          <section>
            <div class="left">Cast calculus, intrinsically typed <code>M : Γ ⊢ A</code>:</div>
            <code>
              {% block castcalculus %}{% endblock %}
            </code>
          </section>
          <section>
            <div class="left">Cast rule <code>M : Γ ⊢ A</code>:</div>
            <code>
              {% block castrule %}{% endblock %}
            </code>
            <div class="left fragment">
              <div>Casts = upcasts and downcasts:</div>
              <code>
                {% block castdef %}{% endblock %}
              </code>
            </div>
          </section>
          <section>
            <div>Boxes: values of type \(\star\)</div>
            <code>
              {% block boxrule %}{% endblock %}
            </code>
            <div class="fragment">
              <div>Ground type is a "tag"</div>
              <code>
                {% block ground %}{% endblock %}
              </code>
            </div>
            <div class="fragment">
              <div class="medium">A more informative encoding of precision/casts</div>
              <code>
                {% block precisionbis %}{% endblock %}
              </code>
            </div>
          </section>
          <section>
            <div>Operational semantics of boxes <code>V ⇑ g</code></div>
            <code>
              {% block opsem %}{% endblock %}
            </code>
            <code class="fragment">
              {% block opsem1 %}{% endblock %}
            </code>
            <code class="fragment">
              {% block opsem2 %}{% endblock %}
            </code>
            <code class="fragment">
              {% block opsem3 %}{% endblock %}
            </code>
          </section>
          <section>
            <div>Operational semantics of function casts <code>(∓s ⇒ ±t)</code></div>
            <code>
              {% block wrap %}{% endblock %}
            </code>
            <div>Rewritten with variable names:<br>
              <code class="medium-small">cast (∓s ⇒ ±t) f  ↦  λ x. cast ±t (f (cast ∓s x)) </code></div>
          </section>
          <section>
            <div>Progress <span class="strike">and preservation</span></div>
            <div class="flexbox">
            <code class="flex-2">
              {% block progress %}{% endblock %}
            </code>
            <code class="fragment flex-1">
              {% block progress2 %}{% endblock %}
            </code>
            </div>
            <div class="fragment">Progress proof \(\overset{\text{Curry-Howard}}{=}\) Interpreter</div>
          </section>
          <section>
            <div class="medium-small">Example: how to box <code>f : nat → nat</code> in \(\star\)</div>
            <div>
              <code class="fragment">
                {% block boxexample %}{% endblock %}
              </code>
              <code class="fragment">
                {% block boxexample2 %}{% endblock %}
              </code>
              <code class="fragment">
                {% block boxexample3 %}{% endblock %}
              </code>
            </div>
          </section>
        </section>
{#{ NEW SECTION }#}
        <section>
          \[\begin{prooftree}
              \AxiomC{\(\hastype{\Gamma,x:A}{M}{B}\)}
            \UnaryInfC{\(\hastype{\Gamma}{\lam{x}{M}}{A \to B}\)}
          \end{prooftree}\]
        </section>
        <section>
          \[\begin{prooftree}
              \AxiomC{\(\hastype{\Gamma}{N}{A\to B}\)}
              \AxiomC{\(\hastype{\Gamma}{M}{A}\)}
            \BinaryInfC{\(\hastype{\Gamma}{\app{N}{M}}{B}\)}
          \end{prooftree}\]
        </section>
        <section>
          \[\begin{prooftree}
                  \AxiomC{}
                  \RightLabel{Tag \(\nat\)}
                \UnaryInfC{\(\nat \le \star\)}
                  \AxiomC{}
                  \RightLabel{Tag \(\bool\)}
                \UnaryInfC{\(\bool \le \star\)}
              \BinaryInfC{\((\nat \to \bool) \le (\star \to \star)\)}
              \RightLabel{Tag \((\star \to \star)\)}
            \UnaryInfC{\((\nat \to \bool) \le \star\)}
          \end{prooftree}\]
        </section>
        <section>
          <p>Some code</p>
          <code class="big">
            {% block test %}{% endblock %}
          </code>
        </section>
        <section>
          \[\begin{CD}
           A @<<< C
           @VVV   @.
           B @.
          \end{CD}
          \]
        </section>
        <section>
          <style>
            .container { display: flex; align-items: center; }
            .col-1 { flex: 2; } .col-2 { flex: 1; }
          </style>
          <div class="container">
            <code class="col-1 tiny">{% block cast_left_plus %}{% endblock %}</code>
            <img class="col-2" src="cast-left-plus-tex.svg" width="250" height="250"/>
          </div>
          <div class="container">
            <code class="col-1 tiny">{% block cast_left_minus %}{% endblock %}</code>
            <img class="col-2" src="cast-left-minus-tex.svg" width="250" height="250"/>
          </div>
        </section>
        <section>
          <style>
            .container { display: flex; align-items: center; }
            .col-1 { flex: 2; } .col-2 { flex: 1; }
          </style>
          <div class="container">
            <code class="col-1 tiny">{% block cast_left_plus_2 %}{% endblock %}</code>
            <img class="col-2" src="cast-left-plus-tex.svg" width="250" height="250"/>
          </div>
          <div class="container">
            <code class="col-1 tiny">{% block cast_left_minus_2 %}{% endblock %}</code>
            <img class="col-2" src="cast-left-minus-tex.svg" width="250" height="250"/>
          </div>
        </section>
			</div>
		</div>

		<script src="reveal.js/dist/reveal.js"></script>
		<script src="reveal.js/plugin/notes/notes.js"></script>
		<script src="reveal.js/plugin/markdown/markdown.js"></script>
		<script src="reveal.js/plugin/highlight/highlight.js"></script>
    <script src="reveal.js/plugin/math/math.js"></script>
		<script>
			// More info about initialization & config:
			// - https://revealjs.com/initialization/
			// - https://revealjs.com/config/
			Reveal.initialize({
				hash: true,
        slideNumber: 'c',
				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealMarkdown, RevealHighlight, RevealNotes, RevealMath.MathJax3 ],
        mathjax3: {
          mathjax: 'https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js',
          tex: {
            inlineMath: [ [ '$', '$' ], [ '\\(', '\\)' ]  ]
          },
          options: {
            skipHtmlTags: [ 'script', 'noscript', 'style', 'textarea', 'pre' ]
          },
        }
			});
		</script>
	</body>
</html>
