<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Gradual algebraic effects</title>

		<link rel="stylesheet" href="reveal.js/dist/reset.css">
		<link rel="stylesheet" href="reveal.js/dist/reveal.css">
		<link rel="stylesheet" href="reveal.js/dist/theme/serif.css">

		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="reveal.js/plugin/highlight/default.css">
		<link rel="stylesheet" href="Agda.css">
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
    <div hidden>
      \(
        \def\N{\mathbb{N}}
        \def\B{\mathbb{B}}
        \def\nat{\texttt{nat}}
        \def\bool{\texttt{bool}}
        \definecolor{deemph}{RGB}{75,75,75}
        \definecolor{bbb}{RGB}{0,100,255}
        \def\colortype#1{{\color{Blue}#1}}
        \def\colorterm#1{{\color{deemph}#1}}
        \def\importantcolortype#1{{\color{bbb}#1}}
        \def\precision#1#2{{\color{Blue}#1 \color{Green} \le \color{Blue} #2}}

        \def\lam#1#2{\lambda#1. #2}
        \def\app#1#2{#1\,#2}
        \def\hastype#1#2#3{\colortype{#1} \vdash \colorterm{#2} : \colortype{#3}}
      \)
    </div>
		<div class="reveal">
			<div class="slides">
				<section>
          <h2>Gradual algebraic effects</h2>
          <h3>formalized in Agda</h3>
          <div style="text-align:right;">
            <div><b>Li-yao Xia</b></div>
            <div>Philip Wadler</div>
          </div>
        </section>
{#{ NEW SECTION }#}
        <section>
				  <section>Algebraic effects</section>
          <section>handler = fold</section>
        </section>
{#{ NEW SECTION }#}
        <section>
				  <section data-background-gradient="conic-gradient(at 50% 35%, #F0F1EB, #61584D)">
            <div class="flexbox">
              <div style="color: white;">Dynamic</div>
              <div class="flex-1"></div>
              <div>Static</div>
            </div>
            <div style="height: 150px;"></div>
            <h3 class="height-half">Gradual types</h3>
            <div style="height: 150px;"></div>
          </section>
          <section>
            <div class="flexbox">
              <div class="flex-1">
<div>Library</div>
<div class="gradual-box"><div class="gradual-label right">Dynamic</div>
<pre><code data-trim data-noescape class="language-ocaml">
write_to_db(row : Any) : Any
 
</code></pre>
</div>
<div class="fragment gradual-box" data-fragment-index="1"><div class="gradual-label right">Static</div>
<pre class="border"><code data-trim data-noescape class="language-ocaml">
write_to_db(row : N × N) : ()
 
</code></pre>
</div>
<div class="fragment gradual-box" data-fragment-index="2"><div class="gradual-label right">Dynamic</div>
<pre><code data-trim data-noescape class="language-ocaml">
write_to_db(row : Any) : Any
 
</code></pre>
</div>
<div class="fragment gradual-box" data-fragment-index="0"><div class="gradual-label right">Static</div>
<pre class="border"><code data-trim data-noescape class="language-ocaml">
write_to_db(row : N × N) : ()
 
</code></pre>
</div>
              </div>
              <div class="flex-1">
<div>Application</div>
<div class="gradual-box"><div class="gradual-label left">Dynamic</div>
<pre><code data-trim data-noescape class="language-ocaml">
get_data() : Any
write_to_db(get_data()) : Any
</code></pre>
</div>
<div class="fragment gradual-box" data-fragment-index="1"><div class="gradual-label left">Dynamic</div>
<pre><code data-trim data-noescape class="language-ocaml">
get_data() : Any
write_to_db(get_data()) : Any
</code></pre>
</div>
<div class="fragment gradual-box" data-fragment-index="2"><div class="gradual-label left">Static</div>
<pre class="border"><code data-trim data-noescape class="language-ocaml">
get_data() : N × N
write_to_db(get_data()) : ()
</code></pre>
</div>
<div class="fragment gradual-box" data-fragment-index="0"><div class="gradual-label left">Static</div>
<pre class="border"><code data-trim data-noescape class="language-ocaml">
get_data() : N × N
write_to_db(get_data()) : ()
</code></pre>
</div>
              </div>
            </div>
            <div>Well-typed throughout gradual migration</div>
          </section>
          <section>
            <blockquote class="medium-small">
            But languages with dynamic typing also have a flexibility which is hard to emulate with a static type system.
            <br>— <a href="https://kar.kent.ac.uk/88959/1/history.pdf_nocoversheet">Turner (2012)</a>
            </blockquote>
            <div>When static types go ¯\_(ツ)_/¯</div>
            <pre><code data-trim data-noescape>
tauto : nat -> ★ -> bool
tauto 0 b = b
tauto n f = tauto (n-1) (f false) && tauto (n-1) (f true)
            </code></pre>

            <div class="fragment">
            <pre><code data-trim data-noescape>
tauto n f = true   iff   ∀ x1 ... xn, f x1 ... xn = true 
            </code></pre>
            </div>
            <div class="fragment">
            <pre><code data-trim data-noescape>
tauto 1 :                 (bool -> bool) -> bool
tauto 2 :         (bool -> bool -> bool) -> bool
tauto 3 : (bool -> bool -> bool -> bool) -> bool
            </code></pre>
            </div>
          </section>
{#{
          <section>
            <div class="footnote">Siek and Taha (2006)</div>
            <div style="text-align:left;">Gradual type system</div>
            \[\begin{prooftree}
                \AxiomC{\(\hastype{\Gamma}{N}{A' \to B}\)}
                \AxiomC{\(\hastype{\Gamma}{M}{A}\)}
                \AxiomC{\(\importantcolortype{A' \sim A}\)}
              \TrinaryInfC{\(\hastype{\Gamma}{\app{N}{M}}{B}\)}
            \end{prooftree}\]

            \[\begin{prooftree}
                \AxiomC{\(\hastype{\Gamma}{N}{\importantcolortype{\star}}\)}
                \AxiomC{\(\hastype{\Gamma}{M}{A}\)}
              \BinaryInfC{\(\hastype{\Gamma}{\app{N}{M}}{\importantcolortype{\star}}\)}
            \end{prooftree}\]

            <div style="text-align:left;">Type consistency \(A \sim B\)</div>
            \[
            \begin{prooftree}
                \AxiomC{}
              \UnaryInfC{\(\colortype{A \sim \star}\)}
            \end{prooftree}
            \quad
            \begin{prooftree}
                \AxiomC{}
              \UnaryInfC{\(\colortype{\star \sim A}\)}
            \end{prooftree}
            \quad
            \begin{prooftree}
                \AxiomC{\(\colortype{A \sim A'}\)}
                \AxiomC{\(\colortype{B \sim B'}\)}
              \BinaryInfC{\(\colortype{A \to B \sim A' \to B'}\)}
            \end{prooftree}
            \]
          </section>
          <section>
            <div style="text-align:left;">Why not this?</div>
            \[\begin{prooftree}
                \AxiomC{\(\hastype{\Gamma}{M}{A}\)}
                \AxiomC{\(\colortype{A \sim B}\)}
              \BinaryInfC{\(\hastype{\Gamma}{M}{B}\)}
            \end{prooftree}\]

            <div style="text-align:left;">Cast between all types:</div>
            \[\begin{prooftree}
                  \AxiomC{\(\hastype{\Gamma}{M}{A}\)}
                  \AxiomC{\(\colortype{A \sim \star}\)}
                \BinaryInfC{\(\hastype{\Gamma}{M}{\star}\)}
                \AxiomC{\(\colortype{\star \sim B}\)}
              \BinaryInfC{\(\hastype{\Gamma}{M}{B}\)}
            \end{prooftree}\]
            <div style="text-align:left; font-size:35px;">NB: \(\sim\) not transitive! \(\implies\) subsumption rule = bad idea</div>
          </section>
}#}
          <section>
            <div class="left">Gradual type system</div>
            \[\begin{prooftree}
                \AxiomC{\(\precision{A}{B}\)}
                \AxiomC{\(\hastype{\Gamma}{M}{B}\)}
              \BinaryInfC{\(\hastype{\Gamma}{M}{A}\)}
            \end{prooftree}\]
            <div class="left">Precision \(\precision{A}{B}\)</div>
            \[\begin{prooftree}
              \AxiomC{\(\precision{A}{\star}\)}
            \end{prooftree}
            \quad
            \begin{prooftree}
              \AxiomC{\(\precision{A}{A}\)}
            \end{prooftree}
            \quad
            \begin{prooftree}
                \AxiomC{\(\precision{A}{A'}\)}
                \AxiomC{\(\precision{B}{B'}\)}
              \BinaryInfC{\(\precision{A \to B}{A' \to B'}\)}
            \end{prooftree}
            \]
            Covariant in the domain!
            <br> Precision aka. "Naive Subtyping"
          </section>
          <section>
            <div class="left">
              \(\colorterm{f} : \colortype{\star \to \star}\)
              <br>\(\colorterm{x} : \colortype{\nat}\)
              <br>\(\colorterm{\app{f}{x}} : \colortype{\nat}\)
            </div>
            \[\begin{prooftree}
                    \AxiomC{\(\precision{\nat \to \nat}{\star \to \star}\)}
                    \AxiomC{\(\hastype{\Gamma}{f}{\star \to \star}\)}
                  \BinaryInfC{\(\hastype{\Gamma}{f}{\nat \to \nat}\)}
                  \AxiomC{\(\hastype{\Gamma}{x}{\nat}\)}
                \BinaryInfC{\(\hastype{\Gamma}{\app{f}{x}}{\nat}\)}
              \end{prooftree}
            \]
          </section>
        </section>
{#{ NEW SECTION }#}
        <section>
          \[\begin{prooftree}
              \AxiomC{\(\hastype{\Gamma,x:A}{M}{B}\)}
            \UnaryInfC{\(\hastype{\Gamma}{\lam{x}{M}}{A \to B}\)}
          \end{prooftree}\]
        </section>
        <section>
          \[\begin{prooftree}
              \AxiomC{\(\hastype{\Gamma}{N}{A\to B}\)}
              \AxiomC{\(\hastype{\Gamma}{M}{A}\)}
            \BinaryInfC{\(\hastype{\Gamma}{\app{N}{M}}{B}\)}
          \end{prooftree}\]
        </section>
        <section>
          \[\begin{prooftree}
                  \AxiomC{}
                  \RightLabel{Tag \(\nat\)}
                \UnaryInfC{\(\nat \le \star\)}
                  \AxiomC{}
                  \RightLabel{Tag \(\bool\)}
                \UnaryInfC{\(\bool \le \star\)}
              \BinaryInfC{\((\nat \to \bool) \le (\star \to \star)\)}
              \RightLabel{Tag \((\star \to \star)\)}
            \UnaryInfC{\((\nat \to \bool) \le \star\)}
          \end{prooftree}\]
        </section>
        <section>
          <p>Some code</p>
          <code class="big">
            {% block test %}{% endblock %}
          </code>
        </section>
        <section>
          \[\begin{CD}
           A @<<< C
           @VVV   @.
           B @.
          \end{CD}
          \]
        </section>
        <section>
          <style>
            .container { display: flex; align-items: center; }
            .col-1 { flex: 2; } .col-2 { flex: 1; }
          </style>
          <div class="container">
            <code class="col-1 tiny">{% block cast_left_plus %}{% endblock %}</code>
            <img class="col-2" src="cast-left-plus-tex.svg" width="250" height="250"/>
          </div>
          <div class="container">
            <code class="col-1 tiny">{% block cast_left_minus %}{% endblock %}</code>
            <img class="col-2" src="cast-left-minus-tex.svg" width="250" height="250"/>
          </div>
        </section>
        <section>
          <style>
            .container { display: flex; align-items: center; }
            .col-1 { flex: 2; } .col-2 { flex: 1; }
          </style>
          <div class="container">
            <code class="col-1 tiny">{% block cast_left_plus_2 %}{% endblock %}</code>
            <img class="col-2" src="cast-left-plus-tex.svg" width="250" height="250"/>
          </div>
          <div class="container">
            <code class="col-1 tiny">{% block cast_left_minus_2 %}{% endblock %}</code>
            <img class="col-2" src="cast-left-minus-tex.svg" width="250" height="250"/>
          </div>
        </section>
			</div>
		</div>

		<script src="reveal.js/dist/reveal.js"></script>
		<script src="reveal.js/plugin/notes/notes.js"></script>
		<script src="reveal.js/plugin/markdown/markdown.js"></script>
		<script src="reveal.js/plugin/highlight/highlight.js"></script>
    <script src="reveal.js/plugin/math/math.js"></script>
		<script>
			// More info about initialization & config:
			// - https://revealjs.com/initialization/
			// - https://revealjs.com/config/
			Reveal.initialize({
				hash: true,
        slideNumber: 'c',
				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealMarkdown, RevealHighlight, RevealNotes, RevealMath.MathJax3 ],
        mathjax3: {
          mathjax: 'https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js',
          tex: {
            inlineMath: [ [ '$', '$' ], [ '\\(', '\\)' ]  ]
          },
          options: {
            skipHtmlTags: [ 'script', 'noscript', 'style', 'textarea', 'pre' ]
          },
        }
			});
		</script>
	</body>
</html>
